<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="head-line title_h2 text-center mt-5 mb-3">登録情報編集</h2>
      <%= form_with model:@customer, local:true do |f| %>
        <div class="form-group">
         <%= f.label :名前 %>
         <%= f.text_field :name, autofocus: true, class: 'form-control'%>
        </div>
        <div>
         <%= f.submit "編集内容を保存する", class: "btn btn-primary save col-xs-6" %>
         <%#= link_to '退会する', unsubscribe_customers_path, class: "glyphicon glyphicon-tint btn btn-danger"%>
        </div>
      <% end %>
    </div>
  </div>
</div>