<<<<<<< HEAD

=======
>>>>>>> origin/develop
<div class="container">
 <div class="row">
    <div class="pt-4" font color="#2f4f4f"><h1>ようこそ、Anievaへ</h1></font>

    <div class="pt-3" font color="#8B4513"><p>見たアニメの評価、感想を投稿して他のユーザーと共有して自分に合ったアニメを見つけれる「Anieva」です。
   </p></font>


    <div class="pt-4 pb-4" font color="#2f4f4f"><h4>サイトについて</h4></font>
    <font color="#8B4513">
    <p>・作品のお気に入り、評価をするには会員登録が必要です。</p>
    <p>・ご意見、不具合などがあった場合はお問い合わせフォームより連絡をお願いします。</p>
    <p>・作品や他の会員の誹謗中傷などはご遠慮ください。</p>
    </font>
  </div>
 </div>