<div class="row">
  <div class=" mx-auto">
    <div class="d-flex align-content-start flex-wrap mt-4">
<<<<<<< HEAD
      <div class="container">
        <div class="row">
          <div class="card-deck">
            <% if animes.present? %>
              <% animes.each do |anime| %>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="bd-placeholder-img card-img-top">
                      <%= attachment_image_tag anime, :image, size: '200x150', format: 'jpeg', fallback: "no_image.jpg"  %>
                    </div>
                    <div class="card-body">
                      <%= link_to anime.title, anime_path(anime.id) %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="mx-auto white">検索に合致するものはありません</p>
            <% end %>
          </div>
        </div>
=======
      <div class="container ">

>>>>>>> origin/develop
      </div>
    </div>
  </div>
</div>